nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li{
  margin: 5px;
  float: right;
}
nav li a{
  text-decoration: none;
  color: black;
}

div {
  margin: auto;
  width: 50%;
  padding:10px;
}

img{
  margin: 145px 145px 0px 175px;
  width: 50%;
  padding:5px;
}

.div1{
  position: relative;
  left: 25px;
  /*margin: 1px 450px 1px 450px;*/ 
}

#txtbx{
  width: 650px;
  height: 25px;
  border-radius: 20px;
}

#btn{
  background-color: transparent;
  border: none;
  height: 60px;
  
}

.div2{
  position: relative;
  left: 20%; 
}

footer{
  margin-top:300px;
  }

footer ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer li{
  margin: 10px;
  float: left;
}

footer li a{
  text-decoration: none;
  color: darkgray;
}
